@import "./global";

.detail-page {
  .detail-header .img-div {
    margin-left: -26px;
  }

  article {
    padding: 0 15px;

    h1 {
      font-size: 22px;
      text-align: center;
    }

    img {
      width: 100%;
    }

    content p {
      text-indent: 2em;
      line-height: 1.6666em;
    }

    p {
      i {
        margin-right: 5px;
      }
    }
  }

  .sub-list();
}
