@import "./global.less";

.header {
  .am-navbar {
    background-color: @base-color;

    .am-navbar-left,
    .am-navbar-right,
    .am-search-input {
      flex: 0 1 auto; // 回归默认值
    }

    .am-navbar-title {
      margin-left: 15px;

      .am-search {
        flex: 1;
        background-color: @base-color;
      }
    }

    .am-search-cancel {
      color: #fff;
    }
  }
}
