@import "./global.less";

.login-page {
  height: 100%;
  color: #fff;
  background-color: @base-color;

  .img-div {
    padding-top: 50px;
    text-align: center;
  }

  .login-form {
    margin: 30px 5%;
    text-align: center;
  }
}
